body {
  background-color: #518cca;
}

form {
  padding-bottom: 12.5vh;
}

img {
  height:70%;
  padding-top: 5vh;
  padding-bottom: 12.5vh;
}

.jar {
  height: 70vmin;
  width: 80vmin;
  padding-top: 12.25vh;
  padding-bottom:5vh;
}
