body {
  background-color: #518cca;
}

form {
  padding-bottom: 12.5vh;
}

img {
  width:  40%;
  padding: .25vh .25vh .25vh .25vh;
}

.jar {
  height: 70vmin;
  width: 70vmin;
  padding-top: 12vh;
  padding-bottom:5vh;
}
