body {
  background-color: #518cca;
}

form {
  padding-bottom: 12.25vh;
}

img {
  height: 90%;
  padding: 5% 2.5% 5% 2.5%;
}

.jar {
  height: 70vmin;
  width: 70vmin;
  padding-top: 12.25vh;
  padding-bottom:5vh;
}
